<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Ciudades</title>
  {% include 'templates/css.html' %}
</head>

<body>

  <div class="wrapper">
    {% include 'templates/header.html' %}
    {% include 'templates/contacto.html' %}

    <div class="bajada">
        <h2>Ciudades</h2>
    </div>

    <div class="texto-index">
        <p>CEDEUS ha implementado el sistema de indicadores de sustentabilidad urbana en 6 ciudades, las cuales fueron
          seleccionadas considerando su diversidad entre sí, desde aspectos climáticos, tamaño y actividades económicas desarrolladas.
          Dos ciudades corresponden a áreas metropolitanas:  Gran Santiago y Gran Concepción y cuatro ciudades son intermedias: Copiapó,
          La Serena, Temuco y Valdivia.
        </p>
    </div>

    <div class="container listado-ciudades">
      <div id="filtroCiudad"></div>
      <div id="lista" class="row">
        {% for ciudad in ciudades %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 listado">
          <div class="ciudad-imagen">
            <a href="/ciudad/{{ciudad.url}}">
              <img class="img-fluid" src="{% static ciudad.static_img %}" alt="imagen ciudad" />
              <span>
                <h4 class="nombreCiudad">{{ciudad.nombre}}</h4>
              </span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include 'templates/footer.html' %}
    {% include 'templates/subir.html' %}
    </div>

    {% include 'templates/js.html' %}
</body>

</html>
