<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Ciudad</title>
  {% include 'templates/css.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'templates/header.html' %} 
    {% include 'templates/contacto.html' %}

    {% include 'templates/banner.html' %}

    <!-- INICIO INFO CIUDAD -->
    <div class="ciudad-info container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4 perfil">
          <h3>Perfil de ciudad</h3>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-8 perfil-detalles">
          <row>
            <div class="col">
              <span>Población:</span> {{ciudad.habitantes}}
            </div>
            <div class="col">
              <span>Clima:</span> {{ciudad.clima}}
            </div>
          </row>
        </div>
      </div>
    </div>
    <!-- FIN INFO CIUDAD -->

    <div class="container indicadores-ciudad">
      <div class="row">
        <div class="col-xl-3 col-lg-12 scroll-indicadores">
          {% include 'templates/menu_categorias.html' %}
        </div>
        <div class="col-xl-9 col-lg-12 contenedor-tabla">
          <!-- INICIO CONTENIDO CATEGORÍAS -->
          <div class="tab-content contenedor-tab">
            {% for categoria in categorias %}
            <div class="tab-pane {% if forloop.counter == 1 %}active {% endif %}table-responsive" id="{{categoria.href}}" role="tabpanel">
              <h4 class="tab-tit">{{categoria}}</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for indicador in indicadores %} {% if indicador.categoria == categoria %}
                  <tr>
                    <td>{{indicador.variable}}</td>
                    <td>{% for dato in datos %}{%if dato.indicador == indicador %}{{dato.var_float}}{% endif %}{% endfor %}
                      <br /> 
                      <span class="unidad-medida">
                        {{ indicador.unidad_medida }}
                      </span>
                    </td>
                    <td>{{indicador.descripcion}}</td>
                    <td>
                      {% for key,value in umbrales.items %}
                      {% if key == indicador.variable %}
                      {% if value.result == 0 %}
                      <img src="{% static 'img/sustentablex.svg' %}" alt="grado de sustentabilidad" />
                      {% elif value.result == 1 %}
                      <img src="{% static 'img/nosustentable_icono.svg' %}" alt="grado de sustentabilidad" />
                      {% elif value.result == 2 %}
                      <img src="{% static 'img/caminoasersustentable_icono.svg' %}" alt="grado de sustentabilidad" />
                      {% elif value.result == 3 %}
                      <img src="{% static 'img/sustentable_icono.svg' %}" alt="grado de sustentabilidad" />
                      {% endif %}
                      {% include 'templates/tooltip_umbral.html' %}
                      {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
          <!-- FIN CONTENIDO CATEGORÍAS -->
        </div>
      </div>
    </div>

    {% include 'templates/footer.html' %} 
    {% include 'templates/subir.html' %}

  </div>
  {% include 'templates/js.html' %}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>
