<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Inicio</title>
  {% include 'templates/css.html' %}
</head>

<body class="index">

  <div class="wrapper">

    {% include 'templates/header.html' %}
    {% include 'templates/contacto.html' %}

    <div id="particles-js">
      <div class="intro">
        <h1>INDICADORES CEDEUS</h1>
        <p>Una radiografía a la sustentabilidad en ciudades de Chile</p>
      </div>
    </div>

    <div class="container contadores">
      <div class="row">
        <div class="col">
          <a href="/ciudades" target="_self">
            <span class="counter" data-count="6">0</span>
            <div class="separador"></div>
            <p>Ciudades</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="5">0</span>
            <div class="separador"></div>
            <p>Categorías</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="29">0</span>
            <div class="separador"></div>
            <p>Indicadores</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="3">0</span>
            <div class="separador"></div>
            <p>Umbrales</p>
          </a>
        </div>
      </div>
    </div>

    <div class="texto-index">
      <h3>Nuestro objetivo</h3>
      <p>El desarrollo y la aplicación de indicadores que describen y monitorean la sostenibilidad de las
        ciudades ha cobrado impulso en los últimos años, debido a que éstos pueden proporcionar una imagen general,
         comprensible y confiable del estado de una ciudad o país, que pueden utilizarse a su vez para informar la toma de decisiones.
      </p>
      <p>
        Dada la falta de indicadores de sostenibilidad urbana para Chile y la necesidad emergente de su monitoreo por parte de investigadores,
        gobierno y tomadores de decisiones, el Centro de Desarrollo Urbano Sostenible (CEDEUS) conformó un grupo de trabajo con investigadores
        de diferentes disciplinas para desarrollar un conjunto de 29 indicadores que caracterizan la sostenibilidad de 6 ciudades chilenas,
        los cuales podrán ser un insumo para orientar las futuras acciones en su planificación y gestión.
      </p>
      </div>

    <div class="texto-index">
        <h3>Metodología</h3>
        <p>
          El proceso para elaborar el sistema de indicadores de sostenibilidad urbana junto con sus variables comenzó a
          mediados del año 2014 comprendiendo cinco fases:
        </p>
        <p>
          - <b>Fase 1</b>, selección de indicadores: esta fase consiste principalmente en una búsqueda exhaustiva de literatura y
          una serie de reuniones en la que se revisaron y discutieron indicadores de sostenibilidad urbana. Bajo este primer
          ejercicio se definió un listado de 574 indicadores que abarcaban las dimensiones de medioambiente, economía, calidad
          de vida, gobernabilidad y equidad social.
        </p>
        <p>
          Con el fin de obtener un número manejable de 10 a 30 indicadores se organizaron sucesivas reuniones para su revisión y
          priorización, para luego evaluar la disponibilidad de datos, logrando así 21 indicadores a analizar.
        </p>
        <p>
          - <b>Fase 2</b>, piloto de indicadores: los 21 indicadores fueron sometidos a una prueba piloto en la ciudad de Valdivia.
          En dicha instancia, se validaron las metodologías, las fuentes de información y la disponibilidad temporal y espacial de datos.
          Luego, se calcularon los valores para todos los indicadores. Mediante este ejercicio de validación, se logró identificar falencias
          del sistema de indicadores de manera temprana. Entre sus principales modificaciones se encuentran la inclusión de 8 nuevos indicadores,
          aumentando el sistema de medición a 29 indicadores de sostenibilidad urbana, agrupados en categorías de medioambiente, salud, equidad,
          accesibilidad y gobernanza.
        </p>
        <p>
          - <b>Fase 3</b>, aplicación de indicadores: la siguiente fase corresponde a su aplicación en seis ciudades definidas, con el propósito de
          caracterizar cada ciudad, compararlas entre sí y evaluar el sistema de indicadores en un nuevo estudio piloto.
        </p>
        <p>
          - <b>Fase 4</b>, evaluación de resultados: la etapa consiste en evaluar la utilidad del sistema de indicadores para su validación definitiva y
          comparan los resultados entre ciudades.
        </p>
        <p>
          - <b>Fase 5</b>, definición de estándares: en esta fase se definieron los estándares de sostenibilidad para cada indicador, lo que permitiría
          una evaluación cualitativa de cada ciudad, sin la necesidad de compararlas con otras ciudades. Para ello se realizaron sucesivos talleres de
          discusión con expertos vinculados a CEDEUS, donde por medio de bibliografía y criterio experto se lograron consensos.
        </p>
      </div>

    <h3 class="titulo-mapa">Ciudades investigadas</h3>
    <div id="mapa"></div>

    {% include 'templates/footer.html' %}
    {% include 'templates/subir.html' %}

  </div>
  <script src="{% static 'js/particles.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% include 'templates/js.html' %}

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgbFr9qzfBP045MakXLARwJPVkOTS04to&callback=initMap"></script>



  <script>
      function initMap() {

        var mapa = new google.maps.Map(document.getElementById('mapa'), {
          zoom: 5,
          center: { lat: -33.45, lng: -70.666667 },
          disableDefaultUI: true
        });

        var image = {
          size: new google.maps.Size(31, 40),
          url: '{% static 'img/marker_indicadores.png' %}'
        };

        {% for ciudad in ciudades %}
        var {{ ciudad.nombre_simple}} = { lat: {{ ciudad.lat }}, lng: {{ ciudad.lon }} };

        var {{ ciudad.url }} = '<p>{{ ciudad.nombre }}</p>' +
        '<a href="/ciudad/{{ ciudad.url }}">Ir a perfil</a>';

        var {{ ciudad.nombre_simple }}Popup = new google.maps.InfoWindow({
          content: {{ ciudad.url }}
        });

        var {{ ciudad.nombre_simple }}Marker = new google.maps.Marker({
          position: {{ ciudad.nombre_simple }},
          map: mapa,
          title: "{{ ciudad_nombre }}",
          icon: image
        });

        {{ ciudad.nombre_simple }}Marker.addListener('click', function () {
          {{ ciudad.nombre_simple }}Popup.open(mapa, {{ ciudad.nombre_simple }}Marker);
        });
        {% endfor %}
      }

  </script>

</body>

</html>
