<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Inicio</title>
  {% include 'templates/css.html' %}
</head>

<body class="index">

  <div class="wrapper">

    {% include 'templates/header.html' %}
    {% include 'templates/contacto.html' %}

    <div id="particles-js">
      <div class="intro">
        <h1>INDICADORES CEDEUS</h1>
        <p>Una radiografía a la sustentabilidad en ciudades de Chile</p>
      </div>
    </div>

    <div class="container contadores">
      <div class="row">
        <div class="col">
          <a href="/ciudades" target="_self">
            <span class="counter" data-count="6">0</span>
            <div class="separador"></div>
            <p>Ciudades</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="5">0</span>
            <div class="separador"></div>
            <p>Categorías</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="29">0</span>
            <div class="separador"></div>
            <p>Indicadores</p>
          </a>
        </div>
        <div class="col">
          <a href="/indicadores" target="_self">
            <span class="counter" data-count="3">0</span>
            <div class="separador"></div>
            <p>Umbrales</p>
          </a>
        </div>
      </div>
    </div>

    <div class="texto-index">
      <h3>Nuestro objetivo (o el por qué)</h3>
      <p>El desarrollo y la aplicación de indicadores que describen y monitorean la sostenibilidad de las
        ciudades ha cobrado impulso en los últimos años, debido a que éstos pueden proporcionar una imagen general,
         comprensible y confiable del estado de una ciudad o país, que pueden utilizarse a su vez para informar la toma de decisiones.
      </p>
      <p>
        Dada la falta de indicadores de sostenibilidad urbana para Chile y la necesidad emergente de su monitoreo por parte de investigadores,
        gobierno y tomadores de decisiones, el Centro de Desarrollo Urbano Sostenible (CEDEUS) conformó un grupo de trabajo con investigadores
        de diferentes disciplinas para desarrollar un conjunto de 29 indicadores que caracterizan la sostenibilidad de 6 ciudades chilenas,
        los cuales podrán ser un insumo para orientar las futuras acciones en su planificación y gestión.
      </p>
      </div>

    <div class="texto-index">
        <h3>Metodología</h3>
        <p>Dada la falta de indicadores de sustentabilidad urbana en Chile y la necesidad de monitorear su estado, ya sea
          por el gobierno, academia y tomadores de decisiones, se creó un grupo de trabajo con investigadores de
          CEDEUS de diferentes disciplinas para desarrollar un conjunto de indicadores. </p>
        <img class="img-fluid" src="https://via.placeholder.com/660x200?text=imagen+explica+gráficamente+los+pasos" />
      </div>

    <h3 class="titulo-mapa">Ciudades investigadas</h3>
    <div id="mapa"></div>

    {% include 'templates/footer.html' %}
    {% include 'templates/subir.html' %}

  </div>
  <script src="{% static 'js/particles.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% include 'templates/js.html' %}

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgbFr9qzfBP045MakXLARwJPVkOTS04to&callback=initMap"></script>



  <script>
      function initMap() {

        var mapa = new google.maps.Map(document.getElementById('mapa'), {
          zoom: 5,
          center: { lat: -33.45, lng: -70.666667 },
          disableDefaultUI: true
        });

        var image = {
          size: new google.maps.Size(31, 40),
          url: '{% static 'img/marker_indicadores.png' %}'
        };

        {% for ciudad in ciudades %}
        var {{ ciudad.nombre_simple}} = { lat: {{ ciudad.lat }}, lng: {{ ciudad.lon }} };

        var {{ ciudad.url }} = '<p>{{ ciudad.nombre }}</p>' +
        '<a href="/ciudad/{{ ciudad.url }}">Ir a perfil</a>';

        var {{ ciudad.nombre_simple }}Popup = new google.maps.InfoWindow({
          content: {{ ciudad.url }}
        });

        var {{ ciudad.nombre_simple }}Marker = new google.maps.Marker({
          position: {{ ciudad.nombre_simple }},
          map: mapa,
          title: "{{ ciudad_nombre }}",
          icon: image
        });

        {{ ciudad.nombre_simple }}Marker.addListener('click', function () {
          {{ ciudad.nombre_simple }}Popup.open(mapa, {{ ciudad.nombre_simple }}Marker);
        });
        {% endfor %}
      }

  </script>

</body>

</html>
