<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Indicadores</title>
  {% include 'templates/css.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'templates/header.html' %} 
    {% include 'templates/contacto.html' %}

    <div class="bajada">
        <h2>INDICADORES</h2>
    </div>

    <div class="container indicadores-ciudad">
      <div class="row">
        <div class="col-xl-3 col-lg-12 scroll-ind">
          {% include 'templates/menu_categorias.html' %}
        </div>
        <div class="col-xl-9 col-lg-12 contenedor-tabla">
          <!-- INICIO CONTENIDO CATEGORÍAS -->
          <div class="tab-content">
            {% for categoria in categorias %}
            <div class="tab-pane{% if forloop.counter == 1 %} active{% endif %}" id="{{categoria.href}}" role="tabpanel">
              <div id="accordion{{forloop.counter}}" role="tablist" aria-multiselectable="true">
                {% for indicador in indicadores %} {% if indicador.categoria == categoria %}
                <div class="card">
                  <div class="card-header" role="tab" id="headingAmbiente{{forloop.counter}}">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion{{forloop.parentloop.counter}}" href="#collapseAmbiente{{forloop.counter}}"
                        aria-expanded="true" aria-controls="collapseAmbiente{{forloop.counter}}">
                        {{indicador.variable}}
                      </a>
                    </h5>
                  </div>
                  <div id="collapseAmbiente{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="headingAmbiente{{forloop.counter}}">
                    <div class="card-block">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#descpAmbiente{{forloop.counter}}" role="tab">Descripción</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#fuentesAmbiente{{forloop.counter}}" role="tab">Fuente</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#comentariosAmbiente{{forloop.counter}}" role="tab">Comentarios</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="descpAmbiente{{forloop.counter}}" role="tabpanel">{{indicador.descripcion}}</div>
                        <div class="tab-pane" id="fuentesAmbiente{{forloop.counter}}" role="tabpanel">Aquí las fuentes del indicador, el formato no ha sido definido.</div>
                        <div class="tab-pane" id="comentariosAmbiente{{forloop.counter}}" role="tabpanel">Aquí los comentarios, cuyo formato tampoco ha sido definido</div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- FIN CONTENIDO CATEGORÍAS -->
        </div>
      </div>
    </div>

    {% include 'templates/footer.html' %} 
    {% include 'templates/subir.html' %}

    {% include 'templates/js.html' %}
</body>

</html>