<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% include 'templates/favicon.html' %}
  <title>Nosotros</title>
  {% include 'templates/css.html' %}
</head>

<body>
  <div class="wrapper">
    {% include 'templates/header.html' %} 
    {% include 'templates/contacto.html' %}
    
    <div class="bajada">
        <h2>NOSOTROS</h2>
    </div>

    <!-- INICIO CONTENIDO -->
    <div class="container nosotros">
      <div class="row">
        <div class="col-xl-3">
          <h1>SOBRE CEDEUS</h1>
          <p>CEDEUS es un espacio que promueve la generación e intercambio de conocimientos basados en la investigación, orientados
            a mejorar la calidad de vida de los habitantes de zonas urbanas, en forma equitativa y sin dañar el medio ambiente.</p>
        </div>
        <div class="col-xl-9">
          <img src="{% static 'img/equipo.jpg' %}" class="img-fluid" alt="Equipo CEDEUS" />
          <p>El Centro de Desarrollo Urbano Sustentable (CEDEUS) es un Centro de Investigación que promueve la discusión sobre
            las ciudades de nuestro país y sus procesos de desarrollo sustentable. Su objetivo principal es entender las
            dinámicas urbanas, los instrumentos y los procesos de toma de decisiones que permiten desarrollar mejoras equitativas
            y sostenidas en la calidad de vida de las personas, a través del reconocimiento de los límites biofísicos y de
            las demandas sociales de las ciudades chilenas.</p>
          <p>CEDEUS es una iniciativa que reúne investigadores líderes en su campo que buscan aportar de forma interdisciplinaria
            a los desafíos de investigación, de formación de capital humano y de vinculación con el medio en la temática
            del Desarrollo Urbano Sustentable.</p>
          <p>El centro se encuentra constituido por tres instituciones: la Pontificia Universidad Católica de Chile (UC) como
            institución Patrocinante; la Universidad de Concepción (UdeC) como institución Asociada; y como colaborador internacional,
            el Center for Sustainable Urban Development (CSUD) de la Universidad de Columbia, en Estados Unidos.</p>
          <p>CEDEUS es un Centro de Investigación de Excelencia, financiado por CONICYT a través de su Programa FONDAP (CONICYT/FONDAP
            15110020).</p>
          <h3>Visión</h3>
          <p>Ser el principal centro de investigación, formación e innovación nacional e internacional cuyo objetivo es identificar
            y responder a los desafíos de sustentabilidad urbana en Chile.</p>
          <h3>Misión</h3>
          <p>Generar conocimiento científico interdisciplinario con el propósito tanto de aumentar la concientización como de
            fortalecer la política y práctica del desarrollo urbano sustentable en Chile.</p>
          <h3>Objetivo de investigación</h3>
          <p>Entender las dinámicas urbanas, los instrumentos y los procesos de toma de decisiones que permiten desarrollar
            mejoras equitativas y sostenidas en la calidad de vida de las personas, a través del reconocimiento de los límites
            biofísicos y de las demandas sociales de las ciudades chilenas.</p>
        </div>
      </div>
    </div>
    <!-- FIN CONTENIDO -->

    {% include 'templates/footer.html' %} 
    {% include 'templates/subir.html' %}

    {% include 'templates/js.html' %}
</body>

</html>