.navbar_indicadores{
	margin-bottom: 0 !important;
	background-color:#0675b6 !important;
	position:static !important;
	width:100% !important;
}

.navbar_indicadores a{
	color:#ffffff !important;
	font-size:25px !important;
}

.map_panel{
	width:35%;
	transform: translate(42px,80px);
}

.map_panel h3{
	font-family: 'Open Sans Condensed Bold';
	text-align: center;
}
map_panel p{
	text-align: center;
}

@media (max-width: 660px){
.map_panel{
	display: none;
}
}

#accordion .panel-title{
	font-size: 20px;
}
#accordion img{
	filter: grayscale(100%);
}
#accordion a{
	text-decoration: none;
	color:#000;
}
#accordion a:hover{
	text-decoration: none;
	color:rgb(19, 161, 241);
}
#accordion a .panel-heading img:hover{
	filter: grayscale(0%);
}

#accordion h3{
	font-size: 18px;
}

.tagcloud02 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.tagcloud02 ul li {
	float: left;
	width: 150px;
	margin: 0 10px 10px 0;
	padding: 0;
}
@media (max-width: 1224px) and (min-width:1074px){
.tagcloud02 ul li {
	width: 125px;
}
}
@media (max-width: 1074px) and (min-width:997px){
.tagcloud02 ul li {
	width: 112px;
}
}


.tagcloud02 ul li a {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tagcloud02 ul li a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}

.indicator{
	font-size: 18px;
}
.indicator a{
	text-decoration: none !important;
	color:#333;
}
.indicator a:hover{
	text-decoration: none !important;
	color:#0a0556;
}

.ciudad_collapse{
	color:#3D99CD;
	text-align:center;
	font-size:26px;
}

.ciudad_collapse:hover{
	color:#3D99CD;
	text-decoration:none;
}
.ciudad_collapse:focus{
	color:#3D99CD;
	text-decoration:none;
}

#map{
	height:92%;
	width:100%;
	position:absolute;
}

@media screen and (max-height:560px) {
#map{
height:125%;
}

}