 {% load static %}

<!-- INICIO MENÚ CATEGORÍAS -->
<ul class="nav flex-column nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active cat-prin" data-toggle="tab" href="#ambiente" role="tab">
            <img src="{% static 'img/medioambiente_icon.svg' %}" />
            <div class="titulo-cat">MEDIO AMBIENTE</div>
            <span class="titulo-catb">MEDIO AMBIENTE</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#salud" role="tab">
            <img src="{% static 'img/salud_icon.svg' %}" />
            <div class="titulo-cat">SALUD</div>
            <span class="titulo-catb">SALUD</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#gobernanza" role="tab">
            <img src="{% static 'img/gobernancia_icon.svg' %}" />
            <div class="titulo-cat">GOBERNANZA</div>
            <span class="titulo-catb">GOBERNANZA</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#equidad" role="tab">
            <img src="{% static 'img/equidad_icon.svg' %}" />
            <div class="titulo-cat">EQUIDAD</div>
            <span class="titulo-catb">EQUIDAD</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#accesibilidad" role="tab">
            <img src="{% static 'img/accesibilidad_icon.svg' %}" />
            <div class="titulo-cat">ACCESIBILIDAD</div>
            <span class="titulo-catb">ACCESIBILIDAD</span>
        </a>
    </li>
</ul>
<!-- FIN MENÚ CATEGORÍAS -->