 {% load static %}

<!-- INICIO MENÚ CATEGORÍAS -->
<ul class="nav flex-column nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active cat-prin" data-toggle="tab" href="#ambiente" role="tab">
            <img src="{% static 'img/medioambiente_icon.svg' %}" />
            <div class="titulo-cat">Medio ambiente</div>
            <span class="titulo-catb">Medio ambiente</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#salud" role="tab">
            <img src="{% static 'img/salud_icon.svg' %}" />
            <div class="titulo-cat">Salud</div>
            <span class="titulo-catb">Salud</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#gobernanza" role="tab">
            <img src="{% static 'img/gobernancia_icon.svg' %}" />
            <div class="titulo-cat">Gobernanza</div>
            <span class="titulo-catb">Gobernanza</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#equidad" role="tab">
            <img src="{% static 'img/equidad_icon.svg' %}" />
            <div class="titulo-cat">Equidad</div>
            <span class="titulo-catb">Equidad</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link cat-prin" data-toggle="tab" href="#accesibilidad" role="tab">
            <img src="{% static 'img/accesibilidad_icon.svg' %}" />
            <div class="titulo-cat">Accesibilidad</div>
            <span class="titulo-catb">Accesibilidad</span>
        </a>
    </li>
</ul>
<!-- FIN MENÚ CATEGORÍAS -->