{% for key,value in umbrales.items %}

    {% if key == indicador.variable %}

        {% if value.umbral.tipo == "max" %}
            Sustentable
            <br />
            <span style='font-size: 1.2em'> ≥ {{ value.umbral.lim3 }} </span>
            <br />
            <br />
            En camino
            <br /> 
            <span style='font-size: 1.2em'>≥ {{ value.umbral.lim2 }} y < {{ value.umbral.lim3 }}</span>
            <br />
            <br />
            No sustentable 
            <br />
            <span style='font-size: 1.2em'>≥ {{ value.umbral.lim1 }} y < {{ value.umbral.lim2 }}</span>


        {% elif value.umbral.tipo == "min" %}
            Sustentable
            <br />
            <span style='font-size: 1.2em'> ≤ {{ value.umbral.lim1 }} </span>
            <br />
            <br />
            En camino 
            <br />
            <span style='font-size: 1.2em'>> {{ value.umbral.lim1 }} y ≤ {{ value.umbral.lim2 }}</span>
            <br />
            <br />
            No sustentable
            <br />
            <span style='font-size: 1.2em'>> {{ value.umbral.lim2 }} y ≤ {{ value.umbral.lim3 }}</span>


        {% elif value.umbral.tipo == "center" %}
            Sustentable
            <br />
            <span style='font-size: 1.2em'> ≥ {{ value.umbral.lim2 }} y ≤ {{ value.umbral.lim3 }} </span>
            <br />
            <br />
            En camino
            <br />
            <span style='font-size: 1.2em'>> {{ value.umbral.lim1 }} y ≤ {{ value.umbral.lim2 }}</span>
            <br />
            <br />
            No sustentable
            <br />
            <span style='font-size: 1.2em'>> {{ value.umbral.lim2 }} y ≤ {{ value.umbral.lim3 }}</span>

        {% endif %}

    {% endif %}
    
{% endfor %}