{% load static %}

<!-- INICIO FOOTER -->
<footer>
    <div class="inner-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="http://www.cedeus.cl/" target="_blank">
                        <img src="{% static 'img/logo_cedeus.svg' %}" alt="logo cedeus" />
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.uc.cl/" target="_blank">
                        <img src="{% static 'img/logo_uc.svg' %}" alt="logo uc" />
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.udec.cl/pexterno/" target="_blank">
                        <img src="{% static 'img/logo_udec.svg' %}" alt="logo udec" />
                    </a>
                </div>
                <div class="col">
                    <a href="http://www.conicyt.cl/" target="_blank">
                        <img src="{% static 'img/logo_conicyt.svg' %}" alt="logo conicyt" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="row">
            <div class="col">
                <a href="http://www.cedeus.cl" target="_blank">CEDEUS</a> | <span id="anio">  </span>
            </div>
        </div>
    </div>
</footer>
<!-- FIN FOOTER -->